<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta content="no-cache"/>
    <title th:text="#{html.title}"></title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/icons/favicon.ico}">
</head>
<body>
<h1>마이페이지</h1>
<hr/>
<span sec:authentication="name"></span> 님 반가워요.
<div sec:authorize="hasRole('ROLE_USER')">
    USER 권한입니다.
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    ADMIN 권한입니다.
</div>
<ul>
    <li><a th:href="@{/logout}">로그아웃</a></li>
    <li><a th:href="@{/}">홈으로 가기</a></li>
</ul>
</body>
</html>